@model IEnumerable<Library.Domain.Entities.Author>

<h1>Authors List</h1>
<a asp-action="Create">Add New Author</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@author.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@author.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
